body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.task {
  position: relative;
  cursor: pointer;
  background: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  font-size: 15px;
  overflow-wrap: break-word;
  min-height: 18px;
}

.taskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.taskDescription {
  font-size: 14px;
  margin-bottom: 20px;
}

.taskDetails {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.taskDueDate,
.taskStatus {
  font-size: 14px;
  margin-right: 20px;
}

.taskDueDate {
  font-style: italic;
}

.taskStatus {
  font-weight: bold;
}

